.titan {
  height: 40px;
  background-color: #3d3c35;
  color: rgba(255, 255, 255, 0.8);
  line-height: 40px;
  font-size: 1.2em;
  position: relative;

  &__action {
    position: absolute;
    left: 20px;
    i {
      width: 20px;
      height: 20px;
      background-size: 30px 30px;
      cursor: pointer;
    }
  }

  &__info {
    text-align: center;
  }
}
