* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #29261d;
  font-family: "Helvetica Neue", Helvetica,
  "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei",
  "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  font-size: 14px;
}

.btn {
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 16px 0 !important;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.container {
  padding: 40px;
}

.PASSED {
  background-color: #79c68f;
}

.FAILED {
  background-color: #f37051;
}

.CANCELED {
  background-color: #ff4d4d;
}

.CANCELING {
  background-color: #ffb3b3;
}

.BLOCKED {
  background-color: #79c68f;
}

.NOT_RUN {
  background-color: #808080;
}

.SKIPPED {
  background-color: #ffa700;
}

.SCHEDULED {
  background-color: #2980ff;
}
.RUNNING {
  background-color: #ffa500;
}

  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100px 100px;
    }
  }

@keyframes blinkRed {
  from {background-color: #f37051}
  50% {background-color: #ff0000
  }
  to {background-color: #f37051}
}
