@import '~react-grid-layout/css/styles.css';
@import './root.scss';

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #29261d;
  font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei', FreeSans, Arimo,
    'Droid Sans', 'wenquanyi micro hei', 'Hiragino Sans GB',
    'Hiragino Sans GB W3', Arial, sans-serif;
  font-size: 14px;
}

a {
  color: #1890ff;
  text-decoration: none;
}

.btn {
  background-color: $metrics-reliability-color;
  border: none;
  color: $font-color;
  padding: 15px 32px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 16px 0 !important;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.container {
  // padding: 20px 40px 40px 40px;
}

.PASSED {
  background-color: #008005;
}

.FAILED {
  background-color: #b33113;
}

.CANCELED {
  background-color: #924646;
}

.CANCELING {
  background-color: #ffb3b3;
}

.BLOCKED {
  background-color: #008005;
}

.NOT_RUN {
  background-color: #808080;
}

.SKIPPED {
  background-color: #ffa700;
}

.SCHEDULED {
  background-color: #2980ff;
}

.RUNNING {
  background-color: #ffa500;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: sub;
  margin: 0 3px;

  &.check {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTc5MjM4NjY2ODgyIiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjExMDgiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNMzc2LjEyMzA3NyA4MzYuOTIzMDc3TDUxLjIgNTEwLjAzMDc2OWMtMTEuODE1Mzg1LTExLjgxNTM4NS0xMS44MTUzODUtMzEuNTA3NjkyIDAtNDMuMzIzMDc3bDQzLjMyMzA3Ny00My4zMjMwNzdjMTEuODE1Mzg1LTExLjgxNTM4NSAzMS41MDc2OTItMTEuODE1Mzg1IDQzLjMyMzA3NyAwTDM4Mi4wMzA3NjkgNjY5LjUzODQ2MmM3Ljg3NjkyMyA3Ljg3NjkyMyAyMS42NjE1MzggNy44NzY5MjMgMjkuNTM4NDYyIDBMODkwLjA5MjMwOCAxODcuMDc2OTIzYzExLjgxNTM4NS0xMS44MTUzODUgMzEuNTA3NjkyLTExLjgxNTM4NSA0My4zMjMwNzcgMGw0My4zMjMwNzcgNDMuMzIzMDc3YzExLjgxNTM4NSAxMS44MTUzODUgMTEuODE1Mzg1IDMxLjUwNzY5MiAwIDQzLjMyMzA3N0w0MTkuNDQ2MTU0IDgzNi45MjMwNzdjLTExLjgxNTM4NSAxMy43ODQ2MTUtMzEuNTA3NjkyIDEzLjc4NDYxNS00My4zMjMwNzcgMHoiIHAtaWQ9IjExMDkiIGZpbGw9IiMxMjk2ZGIiPjwvcGF0aD48L3N2Zz4=');
  }

  &.error {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTc5MjM5MDIxNjQ4IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjQ3MzQiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNNjEwLjQ2MTUzOCA1MDAuMTg0NjE1bDI1Ni0yNTcuOTY5MjNjMTEuODE1Mzg1LTExLjgxNTM4NSAxMS44MTUzODUtMjkuNTM4NDYyIDAtNDEuMzUzODQ3bC0zOS4zODQ2MTUtNDEuMzUzODQ2Yy0xMS44MTUzODUtMTEuODE1Mzg1LTI5LjUzODQ2Mi0xMS44MTUzODUtNDEuMzUzODQ2IDBMNTI3Ljc1Mzg0NiA0MTcuNDc2OTIzYy03Ljg3NjkyMyA3Ljg3NjkyMy0xOS42OTIzMDggNy44NzY5MjMtMjcuNTY5MjMxIDBMMjQyLjIxNTM4NSAxNTcuNTM4NDYyYy0xMS44MTUzODUtMTEuODE1Mzg1LTI5LjUzODQ2Mi0xMS44MTUzODUtNDEuMzUzODQ3IDBsLTQxLjM1Mzg0NiA0MS4zNTM4NDZjLTExLjgxNTM4NSAxMS44MTUzODUtMTEuODE1Mzg1IDI5LjUzODQ2MiAwIDQxLjM1Mzg0NmwyNTcuOTY5MjMxIDI1Ny45NjkyMzFjNy44NzY5MjMgNy44NzY5MjMgNy44NzY5MjMgMTkuNjkyMzA4IDAgMjcuNTY5MjNMMTU3LjUzODQ2MiA3ODUuNzIzMDc3Yy0xMS44MTUzODUgMTEuODE1Mzg1LTExLjgxNTM4NSAyOS41Mzg0NjIgMCA0MS4zNTM4NDZsNDEuMzUzODQ2IDQxLjM1Mzg0NmMxMS44MTUzODUgMTEuODE1Mzg1IDI5LjUzODQ2MiAxMS44MTUzODUgNDEuMzUzODQ2IDBMNDk4LjIxNTM4NSA2MTAuNDYxNTM4YzcuODc2OTIzLTcuODc2OTIzIDE5LjY5MjMwOC03Ljg3NjkyMyAyNy41NjkyMyAwbDI1Ny45NjkyMzEgMjU3Ljk2OTIzMWMxMS44MTUzODUgMTEuODE1Mzg1IDI5LjUzODQ2MiAxMS44MTUzODUgNDEuMzUzODQ2IDBMODY2LjQ2MTUzOCA4MjcuMDc2OTIzYzExLjgxNTM4NS0xMS44MTUzODUgMTEuODE1Mzg1LTI5LjUzODQ2MiAwLTQxLjM1Mzg0Nkw2MTAuNDYxNTM4IDUyNy43NTM4NDZjLTcuODc2OTIzLTcuODc2OTIzLTcuODc2OTIzLTE5LjY5MjMwOCAwLTI3LjU2OTIzMXoiIHAtaWQ9IjQ3MzUiIGZpbGw9IiNkODFlMDYiPjwvcGF0aD48L3N2Zz4=');
  }

  &.loading {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTc5MjQ0MjA2MDU0IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjI1OTQiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNNjI2LjM0NDk2IDEyMS44MzA0YzAgNTMuMTUwNzItNDMuMDc5NjggOTYuMjMwNC05Ni4yMzA0IDk2LjIzMDQtNTMuMTQ1NiAwLTk2LjIzMDQtNDMuMDc5NjgtOTYuMjMwNC05Ni4yMzA0QzQzMy44ODkyOCA2OC42Nzk2OCA0NzYuOTY4OTYgMjUuNiA1MzAuMTE0NTYgMjUuNmM1My4xNDU2IDAgOTYuMjMwNCA0My4wODQ4IDk2LjIzMDQgOTYuMjMwNHpNNTMwLjExNDU2IDgzMy45OTY4Yy00Ni41MDQ5NiAwLTg0LjE5ODQgMzcuNjk4NTYtODQuMTk4NCA4NC4xOTg0czM3LjY5ODU2IDg0LjE5ODQgODQuMTk4NCA4NC4xOTg0IDg0LjE5ODQtMzcuNjk4NTYgODQuMTk4NC04NC4xOTg0LTM3LjY5MzQ0LTg0LjE5ODQtODQuMTk4NC04NC4xOTg0eiBtMzk4LjE4NzUyLTI1My44MzkzNmMtMzMuMjE4NTYgMC02MC4xNDQ2NC0yNi45MjA5Ni02MC4xNDQ2NC02MC4xNDQ2NCAwLTMzLjIxODU2IDI2LjkyNjA4LTYwLjE0NDY0IDYwLjE0NDY0LTYwLjE0NDY0IDMzLjIyMzY4IDAgNjAuMTQ0NjQgMjYuOTI2MDggNjAuMTQ0NjQgNjAuMTQ0NjQtMC4wMDUxMiAzMy4yMTg1Ni0yNi45MzEyIDYwLjE0NDY0LTYwLjE0NDY0IDYwLjE0NDY0ek0yMjguMTU3NDQgNTIwLjAxMjhjMC01My4xNDU2LTQzLjA3OTY4LTk2LjIzMDQtOTYuMjMwNC05Ni4yMzA0LTUzLjE0NTYgMC05Ni4yMzA0IDQzLjA3OTY4LTk2LjIzMDQgOTYuMjMwNCAwIDUzLjE0NTYgNDMuMDc5NjggOTYuMjMwNCA5Ni4yMzA0IDk2LjIzMDQgNTMuMTUwNzIgMCA5Ni4yMzA0LTQzLjA4NDggOTYuMjMwNC05Ni4yMzA0eiBtODguNDQ4LTM0OS41OTg3MmMzNy41ODA4IDM3LjU4MDggMzcuNTgwOCA5OC41MDg4IDAgMTM2LjA4NDQ4LTM3LjU4MDggMzcuNTgwOC05OC41MDg4IDM3LjU4MDgtMTM2LjA4OTYgMHMtMzcuNTgwOC05OC41MDg4IDAtMTM2LjA4OTYgOTguNTA4OC0zNy41ODA4IDEzNi4wODk2IDAuMDA1MTJ6IG00NDQuMDM3MTIgNTgwLjEyNjcyYy0yOC4xODU2IDI4LjE4NTYtMjguMTg1NiA3My44ODE2LTAuMDA1MTIgMTAyLjA2NzIgMjguMTg1NiAyOC4xODU2IDczLjg4MTYgMjguMTg1NiAxMDIuMDY3MiAwIDI4LjE4NTYtMjguMTg1NiAyOC4xODU2LTczLjg4MTYgMC0xMDIuMDY3Mi0yOC4xODA0OC0yOC4xOTA3Mi03My44NzY0OC0yOC4xOTA3Mi0xMDIuMDYyMDggMHogbTg1LjA1ODU2LTQ3OC4wNjQ2NGMtMTguNzkwNCAxOC43OTA0LTQ5LjI1OTUyIDE4Ljc5MDQtNjguMDM5NjggMC0xOC43OTU1Mi0xOC43OTU1Mi0xOC43OTU1Mi00OS4yNTk1MiAwLTY4LjA0NDhhNDguMDk3MjggNDguMDk3MjggMCAwIDEgNjguMDM5NjggMGMxOC43OTA0IDE4Ljc5MDQgMTguNzkwNCA0OS4yNTk1MiAwIDY4LjA0NDh6TTMxNi42MDU0NCA3MzMuNTI3MDRjLTM3LjU4MDgtMzcuNTgwOC05OC41MDg4LTM3LjU4MDgtMTM2LjA4OTYgMHMtMzcuNTgwOCA5OC41MDg4IDAgMTM2LjA4NDQ4YzM3LjU4MDggMzcuNTgwOCA5OC41MDg4IDM3LjU4MDggMTM2LjA4NDQ4IDAgMzcuNTgwOC0zNy41NzU2OCAzNy41ODA4LTk4LjUwMzY4IDAuMDA1MTItMTM2LjA4NDQ4eiIgZmlsbD0iIzEyOTZkYiIgcC1pZD0iMjU5NSI+PC9wYXRoPjwvc3ZnPg==');
    animation: spin 2s linear infinite;
  }

  &.waiting {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTc5MjQ0MjU4ODE5IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjI5NjciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNODI3LjM5MiAyNTZWMTMzLjYzMkg4OTZWMEgxMjh2MTMzLjYzMmg2OC42MDhWMjU2YTMyNy4xNjggMzI3LjE2OCAwIDAgMCAxMjQuNDE2IDI1NiAzMjcuMTY4IDMyNy4xNjggMCAwIDAtMTI0LjQxNiAyNTZ2MTIwLjgzMkgxMjhWMTAyNGg3Njh2LTEzMy42MzJoLTY4LjYwOFY3NjhhMzI3LjE2OCAzMjcuMTY4IDAgMCAwLTEyNC40MTYtMjU2IDMyNy4xNjggMzI3LjE2OCAwIDAgMCAxMjQuNDE2LTI1NnogbS0xMjkuNTM2IDUxMnYxMjAuODMySDMyNi4xNDRWNzY4YTE4OC40MTYgMTg4LjQxNiAwIDAgMSAxODUuODU2LTE4OS40NCAxODguNDE2IDE4OC40MTYgMCAwIDEgMTg1Ljg1NiAxODkuNDR6TTMyNi4xNDQgMjU2VjEzMy42MzJoMzcxLjcxMlYyNTZBMTg4LjQxNiAxODguNDE2IDAgMCAxIDUxMiA0NDUuNDQgMTg4LjQxNiAxODguNDE2IDAgMCAxIDMyNi4xNDQgMjU2eiIgcC1pZD0iMjk2OCIgZmlsbD0iIzEzMjI3YSI+PC9wYXRoPjwvc3ZnPg==');
  }

  &.setting {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTc5NDA5ODMxMjEyIiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjIwNDYiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNMzA3LjIgMjY5LjAwNDhhMzA2Ljg5MjggMzA2Ljg5MjggMCAwIDEgMTA4LjgtNjIuOTI0OCAyNS42IDI1LjYgMCAwIDEgMjguMDA2NCA4LjM0NTZjMTYuNDM1MiAyMC40OCA0MS4xNjQ4IDMyLjY2NTYgNjcuOTkzNiAzMi42NjU2czUxLjU1ODQtMTIuMTM0NCA2Ny45OTM2LTMyLjY2NTZhMjUuNiAyNS42IDAgMCAxIDI4LjAwNjQtOC4zNDU2YzQwLjI0MzIgMTMuMjYwOCA3Ny4zMTIgMzQuNzEzNiAxMDguOCA2Mi45MjQ4YTI1LjYgMjUuNiAwIDAgMSA2Ljc1ODQgMjguMzY0OCA4Ni44MzUyIDg2LjgzNTIgMCAwIDAgNS43MzQ0IDc1LjE2MTZjMTMuMzYzMiAyMy4yNDQ4IDM2LjMwMDggMzguNTUzNiA2Mi4yNTkyIDQyLjU0NzJhMjUuNiAyNS42IDAgMCAxIDIxLjE5NjggMjAuMTIxNiAzMDguNDI4OCAzMDguNDI4OCAwIDAgMSAwIDEyNS41OTM2IDI1LjYgMjUuNiAwIDAgMS0yMS4xOTY4IDIwLjA3MDQgODYuODM1MiA4Ni44MzUyIDAgMCAwLTYyLjI1OTIgNDIuNTQ3MmMtMTMuNDE0NCAyMy4xOTM2LTE1LjI1NzYgNTAuNjg4LTUuNzM0NCA3NS4yMTI4YTI1LjYgMjUuNiAwIDAgMS02Ljc1ODQgMjguMzY0OGMtMzEuNTM5MiAyOC4xNi02OC41NTY4IDQ5LjY2NC0xMDguOCA2Mi44NzM2YTI1LjYgMjUuNiAwIDAgMS0yOC4wMDY0LTguMjk0NEE4Ni44MzUyIDg2LjgzNTIgMCAwIDAgNTEyIDc0OC44NTEyYy0yNi44Mjg4IDAtNTEuNTU4NCAxMi4xODU2LTY3Ljk5MzYgMzIuNzE2OGEyNS42IDI1LjYgMCAwIDEtMjguMDA2NCA4LjI5NDRBMzA2Ljg5MjggMzA2Ljg5MjggMCAwIDEgMzA3LjIgNzI3LjA0YTI1LjYgMjUuNiAwIDAgMS02Ljc1ODQtMjguMzY0OCA4Ni44MzUyIDg2LjgzNTIgMCAwIDAtNS43MzQ0LTc1LjIxMjggODYuODM1MiA4Ni44MzUyIDAgMCAwLTYyLjI1OTItNDIuNDk2IDI1LjYgMjUuNiAwIDAgMS0yMS4xOTY4LTIwLjEyMTYgMzA4LjQyODggMzA4LjQyODggMCAwIDEgMC0xMjUuNTkzNiAyNS42IDI1LjYgMCAwIDEgMjEuMTk2OC0yMC4xMjE2IDg2LjgzNTIgODYuODM1MiAwIDAgMCA2Mi4yNTkyLTQyLjQ5NmMxMy40MTQ0LTIzLjI0NDggMTUuMjU3Ni01MC42ODggNS43MzQ0LTc1LjI2NEEyNS42IDI1LjYgMCAwIDEgMzA3LjIgMjY5LjA1NnogbTMxLjg5NzYgMTI5LjEyNjRhMTM3Ljg4MTYgMTM3Ljg4MTYgMCAwIDEtODAuNTM3NiA2My40ODggMjU4LjQwNjQgMjU4LjQwNjQgMCAwIDAgMCA3Mi43NTUyYzMzLjUzNiA5Ljg4MTYgNjIuNDY0IDMyLjI1NiA4MC41Mzc2IDYzLjQ4OCAxOC4wMjI0IDMxLjE4MDggMjIuODM1MiA2Ny40MzA0IDE0LjY5NDQgMTAxLjM3NiAxOS4xNDg4IDE1LjEwNCA0MC4zNDU2IDI3LjM5MiA2Mi45NzYgMzYuNDU0NGExMzcuODgxNiAxMzcuODgxNiAwIDAgMSA5NS4yMzItMzguMDQxNmMzNi4wOTYgMCA2OS44ODggMTMuOTI2NCA5NS4yMzIgMzguMDQxNmEyNTUuNjkyOCAyNTUuNjkyOCAwIDAgMCA2Mi45NzYtMzYuNDU0NCAxMzcuODgxNiAxMzcuODgxNiAwIDAgMSAxNC42OTQ0LTEwMS4zNzYgMTM3Ljg4MTYgMTM3Ljg4MTYgMCAwIDEgODAuNTM3Ni02My40ODggMjU4LjQwNjQgMjU4LjQwNjQgMCAwIDAgMC03Mi44MDY0IDEzNy44ODE2IDEzNy44ODE2IDAgMCAxLTgwLjUzNzYtNjMuNDM2OCAxMzcuODgxNiAxMzcuODgxNiAwIDAgMS0xNC42OTQ0LTEwMS4zNzYgMjU1LjY5MjggMjU1LjY5MjggMCAwIDAtNjIuOTc2LTM2LjQ1NDQgMTM3Ljg4MTYgMTM3Ljg4MTYgMCAwIDEtOTUuMjMyIDM3Ljk5MDQgMTM3Ljg4MTYgMTM3Ljg4MTYgMCAwIDEtOTUuMjMyLTM3Ljk5MDQgMjU1LjY5MjggMjU1LjY5MjggMCAwIDAtNjIuOTc2IDM2LjQwMzJjOC4xOTIgMzMuOTk2OCAzLjMyOCA3MC4xOTUyLTE0LjY5NDQgMTAxLjQyNzJ6TTUxMiA2MzYuMjExMmExMzguMjQgMTM4LjI0IDAgMSAxIDAtMjc2LjQ4IDEzOC4yNCAxMzguMjQgMCAwIDEgMCAyNzYuNDh6IG0wLTUxLjJhODcuMDQgODcuMDQgMCAxIDAgMC0xNzQuMDggODcuMDQgODcuMDQgMCAwIDAgMCAxNzQuMDh6IiBwLWlkPSIyMDQ3IiBmaWxsPSIjZTZlNmU2Ij48L3BhdGg+PC9zdmc+');
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blinkRed {
  from {
    background-color: #f37051;
  }
  50% {
    background-color: #ff0000;
  }
  to {
    background-color: #f37051;
  }
}
