.auth {
  padding: 20px;
  min-height: 200px;
  border: 5px solid #3d3c35;
  position: relative;
  background-color: #c7d7b9;
  width: 800px;
  margin: 20px auto;

  &__message {
    text-align: center;
    color: #f37051;
    &-line {
      display: flex;
      justify-content: space-between;
      padding: 0.3rem 0;
      & label {
        padding: 0.3rem 1rem;
      }
    }
  }

  & > div {
    & > label > span {
      display: block;
      margin-bottom: 7px;
    }

    & > label > div {
      margin-bottom: 7px;
    }

    & > label > input {
      width: 100%;
      height: 30px;
      padding: 3px 5px;
      margin-bottom: 10px;
    }

    & > label > textarea {
      width: 100%;
      height: 80px;
      padding: 3px 5px;
      margin-bottom: 10px;
    }
  }

  &__error {
    color: red;
  }

  .operation {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0;
  }
}
